.app{
    background-color: #282c34;
    
    color: white;
    min-height: clac(100vh - 100px);
    padding: 50px;
    margin: 0;
}
h1{
    text-align: center;
    color: orange;
    font-size: 3em; 

}