

<form [formGroup]="movieForm"   (ngSubmit)="saveForm()">
    <label>Tilte</label><br>
     <input formControlName="title"type="text"><br>    
     <label  >Description</label><br>
<textarea formControlName="description" cols="30" rows="2"></textarea><br>
<button type="submit" [disabled]="formDisabled()">
    <span *ngIf="id">Update</span>
    <span *ngIf="!id">Create</span>

</button>
</form>
