<button (click)="logout()">Logout</button>



<div class="layout">
    <app-movie-list [movies]="movies" (selectMovie)="selectMovie($event)"
    (editedMovie)="editMovie($event)" (createNewMovie)="createNewMovie($event)" (deletedMovie)="deletedMovie($event)"></app-movie-list>
<div>
    <app-movie-detail [movie]="this.selectectedMovie" (updateMovie)="selectMovie($event)"> </app-movie-detail>
<app-movie-from *ngIf="editedMovie" [movie]="this.editedMovie" (movieCreated)="movieCreated($event)" (movieUpdated)="movieUpdated($event)"> </app-movie-from>
</div>

</div>