
<form [formGroup]="authForm"   (ngSubmit)="saveForm()">
        <label>Login</label><br>
         <input formControlName="username"type="text"><br>    
         <label  >Password</label><br>
    <input formControlName="password" type="password"><br>
    <button type="submit"> 
        <span *ngIf="!registerMode">Login</span>
        <span *ngIf="registerMode">Register</span>
    </button>
    </form>
    <br>
    <span *ngIf="!registerMode" (click)="registerMode=true">Don't have an account ? Register here</span>
    <span *ngIf="registerMode" (click)="registerMode=false">Already  have an account ? Go to Login here</span>